<!DOCTYPE html>
{% load static %}
{% load bootstrap3 %}
<html lang="en">

  <head>

{#    <meta charset="utf-8">#}
{#    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">#}
{#    <meta name="description" content="">#}
{#    <meta name="author" content="">#}

{#    <title>Creative - Start Bootstrap Theme</title>#}

    <!-- Bootstrap core CSS -->
{#    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">#}
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template -->

    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>


    <!-- Plugin CSS -->
{#    <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet">#}
    <link href="{% static 'vendor/magnific-popup/magnific-popup.css' %}" rel="stylesheet">
    <!-- Custom styles for this template -->
{#    <link href="css/creative.min.css" rel="stylesheet">#}
    <link href="{% static 'css/creative.min.css' %}" rel="stylesheet">
  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger " style="font-family:fontpri,serif" href="#page-top">Beacon 電子優惠券</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" style="font-family:fontpri,serif" href="#about" >關於</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" style="font-family:fontpri,serif" href="#services">服務介紹</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" style="font-family:fontpri,serif" href="#portfolio">電子優惠券</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" style="font-family:fontpri,serif" href="#contact">聯絡回饋</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" style="font-family:fontpri,serif" href="/dashboard/">DashBoard</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="masthead text-center text-white d-flex">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h1 class="text-uppercase">
              <strong class="fontpri">Beacon 電子優惠券</strong>
            </h1>
            <hr>
          </div>
          <div class="col-lg-8 mx-auto">
            <p class="text-faded mb-5 fontpri">可以讓使用者更方便的索取賣場資訊</p>
            <a class="btn btn-light btn-xl js-scroll-trigger" style="font-family:fontpri,serif" href="#about">看更多</a>
          </div>
        </div>
      </div>
    </header>

    <section class="btn-primary" id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading text-white">我們致力於拉近賣場與消費者的距離</h2>
            <hr class="light my-4">
            <p class="text-faded mb-4">使用者透過App即可輕鬆獲取賣場第一手資訊 </p>
            <p class="text-faded mb-4">統一格式讓不同賣場使用相同格式使用者不須每一家商場都要下載商場APP</p>
            <a class="btn btn-light btn-xl js-scroll-trigger" style="font-family:fontpri,serif" href="#services">開始體驗!</a>
          </div>
        </div>
      </div>
    </section>

    <section id="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">我們的服務</h2>
            <hr class="my-4">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fas fa-4x fa-podcast text-primary mb-3 sr-icon-1"></i>
              <h3 class="mb-3">Beacon 發送優惠券</h3>
              <p class="text-muted mb-0">利用EddyStone的Beacon格式發送優惠券</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fas fa-4x fa-user-edit text-primary mb-3 sr-icon-2"></i>
              <h3 class="mb-3">使用者端</h3>
              <p class="text-muted mb-0">使用者端用App</p>
              <P class="text-muted mb-0">將裝置發送的優惠券進行收藏管理</P>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fas fa-4x fa-cog text-primary mb-3 sr-icon-3"></i>
              <h3 class="mb-3">管理者端</h3>
              <p class="text-muted mb-0">管理者無須使用藍芽設定Beacon</p>
              <p class="text-muted mb-0">簡易進入平台方便管理</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fas fa-4x fa-edit text-primary mb-3 sr-icon-4"></i>
              <h3 class="mb-3">平台編輯</h3>
              <p class="text-muted mb-0">輕鬆簡易的設定Beacon裝置</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="p-0" id="portfolio">
      <div class="container-fluid p-0">
        <div class="row no-gutters popup-gallery">
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="{%static 'img/portfolio/coupon/1.jpg' %}">
              <img class="img-fluid" src="{% static 'img/portfolio/coupon/1.jpg' %}" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    優惠券範例
                  </div>
                  <div class="project-name">
                    你可以創造你自己喜愛的優惠券
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="{% static 'img/portfolio/coupon/2.jpg' %}">
              <img class="img-fluid" src="{% static 'img/portfolio/coupon/2.jpg' %}" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    優惠券範例
                  </div>
                  <div class="project-name">
                    你可以創造你自己喜愛的優惠券
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="{% static 'img/portfolio/coupon/3.jpg' %}">
              <img class="img-fluid" src="{% static 'img/portfolio/coupon/3.jpg' %}" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    優惠券範例
                  </div>
                  <div class="project-name">
                   你可以創造你自己喜愛的優惠券
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="{% static 'img/portfolio/fullsize/4.jpg' %}">
              <img class="img-fluid" src="{% static 'img/portfolio/thumbnails/4.jpg' %}" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Category
                  </div>
                  <div class="project-name">
                    Project Name
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="{% static 'img/portfolio/fullsize/5.jpg' %}">
              <img class="img-fluid" src="{% static 'img/portfolio/thumbnails/5.jpg' %}" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Category
                  </div>
                  <div class="project-name">
                    Project Name
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="{% static 'img/portfolio/thumbnails/5.jpg' %}">
              <img class="img-fluid" src="{% static 'img/portfolio/thumbnails/6.jpg' %}" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Category
                  </div>
                  <div class="project-name">
                    Project Name
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>

{#    <section class="bg-dark text-white">#}
{#      <div class="container text-center">#}
{#        <h2 class="mb-4">Free Download at Start Bootstrap!</h2>#}
{#        <a class="btn btn-light btn-xl sr-button" href="http://startbootstrap.com/template-overviews/creative/">Download Now!</a>#}
{#      </div>#}
{#    </section>#}

    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading">Let's Get In Touch!</h2>
            <hr class="my-4">
            <p class="mb-5">歡迎與團隊聯絡</p>
          </div>
        </div>
        <div class="row">
{#          <div class="col-lg-4 ml-auto text-center">#}
{#            <i class="fas fa-phone fa-3x mb-3 sr-contact-1"></i>#}
{#            <p>123-456-6789</p>#}
{#          </div>#}
          <div class="col-lg-12 mr-auto text-center">
            <a href="/intro" class="fas fa-envelope fa-3x mb-3 sr-contact-2"></a>
            <p>
              <a href="mailto:your-email@your-domain.com">ben.chang@aiesec.net</a>
            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
    <script src="{% static 'vendor/scrollreveal/scrollreveal.min.js' %}"></script>
    <script src="{% static 'vendor/magnific-popup/jquery.magnific-popup.min.js' %}"></script>

    <!-- Custom scripts for this template -->
    <script src="{% static 'js/creative.min.js' %}"></script>

  </body>

</html>
